<footer class="footer">
  <ul class="footer-social-links list-no-bullets">
    <li class="list-item-inline">
      <a class="link" href="mailto:nivedshaji2006@gmail.com">
        <i class="fas fa-envelope fa-2x"></i>
      </a>
    </li>

    <li class="list-item-inline">
      <a class="link" href="https://github.com/Nivet2006">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </li>

    <li class="list-item-inline">
      <a class="link" href="https://twitter.com/nivet2006">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
    </li>

    <li class="list-item-inline">
      <a class="link" href="https://www.instagram.com/nivet.2006/">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
    </li>

    <!--    <li class="list-item-inline">
      <a class="link" href="https://www.linkedin.com/in/$username/">
        <i class="fab fa-linkedin-in fa-2x"></i>
      </a>
    </li>-->

    <!--<li class="list-item-inline">
      <a class="link" href="https://twitter.com/$username">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
    </li>-->

    <!--<li class="list-item-inline">
      <a class="link" href="https://www.instagram.com/$username/">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
    </li>-->
  </ul>
  <div class="footer-header">
    <span>
      made with
      <i class="fas fa-heart"></i>
      &
      <i class="fas fa-code fa-1x"></i>
      by
      <strong> Nived </strong>
    </span>
  </div>
  <!--<div class="footer-header">
    <i class="fas fa-code fa-1x"></i>
    <span>
      by
      <strong> Nived </strong>
      made with
    </span>
    <i class="fas fa-coffee"></i>
  </div>-->
</footer>
